@{
    
}
@using CheeseMVC.Models
@model List<Cheese>

<h1>My Cheese</h1>

<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>

@if (Model.Count > 0)
{
    <ul>
        @foreach (var cheese in Model)
        {
            <li>
                <h3>@cheese.Name</h3>
                <p>@cheese.Type | @cheese.Description</p>

                <form method="post" asp-controller="Cheese" asp-action="Delete">
                    <button type="submit" name="cheeseId" value="@cheese.CheeseId">X</button>
                </form>
                <form method="get" asp-controller="Cheese" asp-action="Edit">
                    <button type="submit" name="cheeseId" value="@cheese.CheeseId">Edit</button>
                </form>
            </li>
        }
    </ul>
}
else
{
    <h3>No cheeses yet</h3>

}